@import "@/styles/colors";
@import "@/styles/variables";
@import "@/styles/mixins";

.content {
  padding: 30px;
  width: 800px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -50px;
    left: 30px;
    border: 1px solid $strokes-secondary;
    border-radius: 50%;
  }

  .body {
    margin-top: 40px;
    width: 100%;

    .info {
      display: flex;
      justify-content: space-between;

      .title {
        display: flex;
        flex-direction: column;

        max-width: 400px;

        .name {
          font-size: 30px;
          font-weight: 500;
          line-height: 140%;
          color: $txt-color;

          @include ellipsis;
        }

        .email {
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
          color: $gray;

          @include ellipsis;
        }
      }

      .editBtn {
        width: 200px;
      }
    }

    .description {
      max-width: calc(100% - 200px);
      margin-top: 30px;
      font-size: 16px;
      font-weight: 400;
      line-height: 160%;
    }
  }

  .bottom {
    width: 100%;
    margin-top: 60px;
    .logoutBtn {
      width: 130px;
    }
  }
}

@media ($max-width-medium) {
  .content {
    width: 100%;

    .body {
      position: relative;

      .info {
        flex-direction: column;
        gap: 10px;

        .title {
          max-width: 300px;

          .name,
          .email {
            @include ellipsis;
          }
        }
      }

      .description {
        max-width: 90%;
      }
    }
  }
}
