@import "@/styles/colors";

.cover {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  object-fit: cover;

  &Empty {
    background-color: $background-secondary;
  }

  &Btn {
    z-index: 2;
    width: 180px;
    position: absolute;

    top: 80px;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  .fileInput {
    display: none;
  }
}
