@import "@/styles/colors";
@import "@/styles/variables";

.list {
  display: flex;
  flex-direction: column;
  width: 100%;

  .divider {
    height: 1px;
    width: 100%;
    border-bottom: 1px solid $strokes-secondary;
  }

  .userItem {
    display: flex;
    align-items: center;
    cursor: pointer;

    position: relative;

    padding: 20px 0;

    border-bottom: 1px solid $strokes-secondary;

    border-radius: 5px;

    .name {
      margin-left: 20px;
      font-size: 16px;
      font-weight: 500;
      line-height: 160%;
      color: $txt-color;
      flex-grow: 1;
    }

    .email {
      font-size: 16px;
      font-weight: 400;
      line-height: 160%;
      color: $gray;
      flex-grow: 0;
    }
  }
}

@media ($max-width-extra-small) {
  .list {
    .userItem {
      .email {
        max-width: 120px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
