@import "@/styles/colors";

.wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.3s ease-in-out;

  &Open {
    opacity: 1;
    pointer-events: all;
  }

  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $strokes-secondary;
    border-radius: 5px;
    background-color: $white;
    width: 600px;
    padding: 30px;
  }
}
