$background-primary: #ffffff;
$background-secondary: #f3f3f3;
$strokes-secondary: #e6e6e6;
$txt-color: #000000;
$strokes-primary: #d4d4d4;
$error: #f00000;

$white: $background-primary;
$black: $txt-color;
$gray: #838383;
