$header-height: 80px;

$max-width-extra-small: "max-width:376px";
$min-width-extra-small: "min-width:377px";

$max-width-small: "max-width:768px";
$min-width-small: "min-width:769px";

$max-width-medium: "max-width:970px";
$min-width-medium: "min-width:971px";

$max-width-large: "max-width:1880px";
$min-width-large: "min-width:1881px";
