@import "@/styles/colors";

.container {
  display: flex;

  flex-direction: column;
  background-color: $background-primary;
  align-items: center;
  width: 100%;

  .content {
    padding: 30px;
    width: 800px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar {
      position: absolute;
      width: 100px;
      height: 100px;
      top: -50px;
      left: 30px;
      border: 1px solid $strokes-secondary;
      border-radius: 50%;
    }

    .body {
      margin-top: 40px;
      width: 100%;

      .info {
        display: flex;
        justify-content: space-between;

        .title {
          display: flex;
          flex-direction: column;
          .name {
            font-size: 30px;
            font-weight: 500;
            line-height: 140%;
            color: $txt-color;
          }

          .email {
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            color: $gray;
          }
        }

        .editBtn {
          width: 200px;
        }
      }

      .description {
        max-width: calc(100% - 200px);
        margin-top: 30px;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .bottom {
      width: 100%;
      .logoutBtn {
        margin-top: 30px;
        width: 130px;
      }
    }
  }
}
